<!doctype html>
<html>
	<head>
		<title>{{title}} - MyPage</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	<div>
		{{> header}}
		<hr>
		{{{content}}}
	</div>
</body>
</html>
